<ion-content [fullscreen]="true">
  <div class="historial-contenedor">
    <div class="titulo">
      <h1>Actividad</h1>
      <div class="subtitulo">
        <p>Anteriores</p>
        <ion-icon class="ajustes" src="assets/icon/ajustes.svg"></ion-icon>
      </div>
    </div>

    <div class="historial-contenido">
      <div class="ultimo-viaje">
        <img class="viaje-mapa" src="assets/img/map.png" alt="mapa">
        <h3>Pje. El Mañío 2035</h3>
        <p class="ultima-fecha">8 sept ° 22:15</p>
        <p class="ultimo-pago">$6.309</p>
        <ion-icon></ion-icon>
      </div>
    </div>

    <div class="historial">
      <div class="historial-elemento">

        <ion-icon class="vehiculo" src="assets/icon/vehiculo-viajes.svg"></ion-icon>
        <div class="historial-informacion">
          <p>Pje. El Mañío 2035</p>
          <p>7 sept ° 22:01</p>
          <p>$5.760</p>
        </div>
        <ion-chip>
          <ion-avatar>
            <img alt="recargar" src="assets/icon/recargar.svg" />
          </ion-avatar>
          <ion-label>Reagendar</ion-label>
        </ion-chip>
        
      </div>

      <div class="historial-elemento">

        <ion-icon class="vehiculo" src="assets/icon/vehiculo-viajes.svg"></ion-icon>
        <div class="historial-informacion">
          <p>Pje. El Mañío 2035</p>
          <p>7 sept ° 22:01</p>
          <p>$5.760</p>
        </div>
        <ion-chip>
          <ion-avatar>
            <img alt="recargar" src="assets/icon/recargar.svg" />
          </ion-avatar>
          <ion-label>Reagendar</ion-label>
        </ion-chip>
        
      </div>

      <div class="historial-elemento">

        <ion-icon class="vehiculo" src="assets/icon/vehiculo-viajes.svg"></ion-icon>
        <div class="historial-informacion">
          <p>Pje. El Mañío 2035</p>
          <p>7 sept ° 22:01</p>
          <p>$5.760</p>
        </div>
        <ion-chip>
          <ion-avatar>
            <img alt="recargar" src="assets/icon/recargar.svg" />
          </ion-avatar>
          <ion-label>Reagendar</ion-label>
        </ion-chip>
        
      </div>
    </div>
  </div>
</ion-content>
