:root { 
    --fondo-oscuro: #161616; /* Fondo principal */
    --color-letras-iconos: #DEDEDE; /* Color para letras e íconos */
    --fondo-secundario: #292929; /* Fondo para elementos */
    --fondo-terciario: #383838; /* Fondo para elementos-2 */
    
}