<ion-content [fullscreen]="true">
  <div class="contenedor">

    <div class="inf-usuario">
      <h1>{{ nombre }}</h1> <!-- Aquí se muestra el nombre del usuario -->
      <ion-icon class="usuario-img" src="assets/icon/usuario-img.svg" (click)=" navegarAjustes()"></ion-icon> 
    </div>

    <div class="opciones-usuario">
      <div class="opciones-elementos ayuda">
        <ion-icon class="icono-opciones" src="assets/icon/salvavidas.svg"></ion-icon>
        <h2>Ayuda</h2>
      </div>
      <div class="opciones-elementos pago">
        <ion-icon class="icono-opciones" src="assets/icon/tarjeta-credito.svg"></ion-icon>
        <h2>Pago</h2>
      </div>
      <div class="opciones-elementos actividad">
        <ion-icon class="icono-opciones" src="assets/icon/portapapeles.svg"></ion-icon>
        <h2>Actividad</h2>
      </div>
    </div>

    <div class="inf-adicional">

      <div class="inf-elemento">
        <div class="texto-inf">
          <h2>Uber One</h2>
          <p>Pruébalo sin costos por 4 semanas</p>
        </div>
        <div class="icono-inf">
          <ion-icon src="assets/icon/dolar.svg"></ion-icon>
        </div>
      </div>

      <div class="inf-elemento">
        <div class="texto-inf">
          <h2>Revisión de privacidad</h2>
          <p>Haz un recorrido interactivo por tu configuración</p>
        </div>
        <div class="icono-inf">
          <ion-icon src="assets/icon/dolar.svg"></ion-icon>
        </div>
      </div>

      <div class="inf-elemento">
        <div class="texto-inf">
          <h2>Comprovación de seguridad</h2>
          <p>Conoce cómo hacer los viajes más seguros</p>
        </div>
        <div class="icono-inf">
          <ion-icon src="assets/icon/dolar.svg"></ion-icon>
        </div>
      </div>

      <div class="inf-elemento">
        <div class="texto-inf">
          <h2>Proximamente!</h2>
          <p>Viajes gratis</p>
        </div>
        <div class="icono-inf">
          <ion-icon src="assets/icon/dolar.svg"></ion-icon>
        </div>
      </div>

      <div class="ajustes">
        <div class="ajustes-elementos">
          <ion-button (click)="navegarAjustes()"></ion-button> 
        </div>
      </div>
    </div>
  </div>
</ion-content>
